<div class="index-sections">
  {% for block in section.blocks %}
  <div class="shopify-section custom">
    {% case block.type %}

      {% when 'imageText' %}
        {% include 'snippet_image-with-text-overlay-section' %}

      {% when 'imageText2' %}
        {% include 'snippet_second-image-with-text-overlay-section' %}

      {% when 'featPromo' %}
        {% include 'snippet_featured-promotions' %}

      {% when 'featText' %}
        {% include 'snippet_featured-text' %}

      {% when 'video' %}
        {% include 'snippet_video' %}

      {% when 'imgCTA' %}
        {% include 'snippet_image-text' %}

      {% when 'featColl' %}
        {% include 'snippet_featured-collection' %}

      {% when 'featList' %}
        {% include 'snippet_feat-list' %}

      {% when 'featProds' %}
        {% include 'snippet_featured-products' %}

    {% endcase %}
  </div>
  {% endfor %}
</div>

{% schema %}
  {
    "blocks": [

        {
        "type": "imageText",
        "name": "Image with text overlay",
        "settings": [
          {
            "type": "checkbox",
            "id": "image_stretch",
            "label": "Stretch to full screen width",
            "default": true
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "1600 x 600px recommended"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          },
          {
            "type": "textarea",
            "id": "subtext",
            "label": "Subheading"
          },
          {
            "type": "select",
            "id": "text_position",
            "label": "Text position",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "center"
          },
          {
            "type": "select",
            "id": "text_align",
            "label": "Text alignment",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      },
      {
        "type": "imageText2",
        "name": "Image with text overlay 2",
        "settings": [
          {
            "type": "checkbox",
            "id": "sec_image_stretch",
            "label": "Stretch to full screen width",
            "default": true
          },
          {
            "type": "image_picker",
            "id": "sec_image",
            "label": "Image",
            "info": "1600 x 600px recommended"
          },
          {
            "type": "text",
            "id": "sec_title",
            "label": "Heading"
          },
          {
            "type": "textarea",
            "id": "sec_subtext",
            "label": "Subheading"
          },
          {
            "type": "select",
            "id": "sec_text_position",
            "label": "Text position",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "center"
          },
          {
            "type": "select",
            "id": "sec_text_align",
            "label": "Text alignment",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "text",
            "id": "sec_button_label",
            "label": "Button label"
          },
          {
            "type": "url",
            "id": "sec_link",
            "label": "Link"
          }
        ]
      },
      {
        "type": "featPromo",
        "name": "Featured promotions",
        "settings": [
          {
            "type": "select",
            "id": "featured_links_style",
            "label": "Animation",
            "options": [
              {
                "value": "",
                "label": "None"
              },
              {
                "value": "circle",
                "label": "Circle"
              },
              {
                "value": "cross",
                "label": "Crossed Lines"
              },
              {
                "value": "double_underline",
                "label": "Double underline"
              },
              {
                "value": "underline",
                "label": "Underline"
              }
            ],
            "default": "cross"
          },
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "Image 1",
            "info": "420px wide minimum"
          },
          {
            "type": "text",
            "id": "title_1",
            "label": "Heading 1",
            "default": "Promotion"
          },
          {
            "type": "url",
            "id": "link_1",
            "label": "Link 1"
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image 2",
            "info": "420px wide minimum"
          },
          {
            "type": "text",
            "id": "title_2",
            "label": "Heading 2",
            "default": "Promotion"
          },
          {
            "type": "url",
            "id": "link_2",
            "label": "Link 2"
          },
          {
            "type": "image_picker",
            "id": "image_3",
            "label": "Image 3",
            "info": "420px wide minimum"
          },
          {
            "type": "text",
            "id": "title_3",
            "label": "Heading 3",
            "default": "Promotion"
          },
          {
            "type": "url",
            "id": "link_3",
            "label": "Link 3"
          }
        ]
      },
      {
        "type": "featText",
        "name": "Rich text and image",
        "settings": [
          {
            "type": "image_picker",
            "id": "frt_image",
            "label": "Image"
          },
          {
            "type": "checkbox",
            "id": "frt_reverse",
            "label": "Reverse Colors",
            "default": true
          },
          {
            "type": "text",
            "id": "frt_title",
            "label": "Heading",
            "default": "Talk about your brand"
          },
          {
            "type": "textarea",
            "id": "frt_content",
            "label": "Text"
          },
          {
            "type": "select",
            "id": "frt_text_size",
            "label": "Text size",
            "options": [
              {
                "value": "regular_text",
                "label": "Regular"
              },
              {
                "value": "featured_text",
                "label": "Large"
              }
            ],
            "default": "featured_text"
          },
          {
            "type": "select",
            "id": "frt_text_alignment",
            "label": "Text alignment",
            "options": [
              {
                "value": "align_left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              }
            ],
            "default": "center"
          },
          {
            "type": "text",
            "id": "frt_button_label",
            "label": "Link label"
          },
          {
            "type": "url",
            "id": "frt_button_link",
            "label": "Link"
          }
        ]
      },
      {
        "type": "video",
        "name": "Featured Video",
        "settings": [
          {
            "type": "header",
            "content": "Video"
          },
          {
            "type": "select",
            "id": "vid_source",
            "label": "Video source",
            "options": [
              {
                "value": "youtube",
                "label": "YouTube"
              },
              {
                "value": "vimeo",
                "label": "Vimeo"
              },
              {
                "value": "html5",
                "label": "HTML5"
              }
            ],
            "default": "youtube"
          },
          {
            "type": "select",
            "id": "vid_aspect_ratio",
            "label": "Aspect ratio",
            "options": [
              {
                "value": "16:9",
                "label": "16:9"
              },
              {
                "value": "4:3",
                "label": "4:3"
              }
            ],
            "default": "16:9"
          },
          {
            "type": "checkbox",
            "id": "vid_autoplay",
            "label": "Autoplay video",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "vid_autoloop",
            "label": "Autoloop video",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "vid_video_dark_overlay",
            "label": "Darken video"
          },
          {
            "type": "video_url",
            "id": "vid_video",
            "label": "YouTube or Vimeo video URL",
            "accept": ["youtube", "vimeo"],
            "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
          },
          {
            "type": "text",
            "id": "vid_mp4",
            "label": "HTML5 MP4 File URL"
          },
          {
            "type": "text",
            "id": "vid_ogv",
            "label": "HTML5 OGV File URL (optional)"
          },
          {
            "type": "header",
            "content": "Content"
          },
         {
            "type": "image_picker",
            "id": "vid_image",
            "label": "Image",
            "info": "1600 x 900px recommended"
          },
          {
            "type": "checkbox",
            "id": "vid_display_text_over_video",
            "label": "Show text when video is playing",
            "default": false
          },
          {
            "type": "text",
            "id": "vid_title",
            "label": "Heading"
          },
          {
            "type": "textarea",
            "id": "vid_subtext",
            "label": "Subheading"
          },
          {
            "type": "select",
            "id": "vid_text_position",
            "label": "Text position",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "center"
          },
          {
            "type": "select",
            "id": "vid_text_align",
            "label": "Text alignment",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "center"
          },
          {
            "type": "text",
            "id": "vid_button_label",
            "label": "Button label",
            "default": "Play Video"
          },
          {
            "type": "url",
            "id": "vid_link",
            "label": "Button link"
          }
        ]
      },
      {
        "type": "imgCTA",
        "name": "Image with text",
        "settings": [
          {
            "type": "select",
            "id": "imgCTA_grid_layout",
            "label": "Layout",
            "options": [
              {
                "value": "standard",
                "label": "Standard"
              },
              {
                "value": "full-width",
                "label": "Full width"
              }
            ]
          },
          {
            "type": "select",
            "id": "imgCTA_frontpage_text_align",
            "label": "Text alignment",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "image_picker",
            "id": "imgCTA_1_image",
            "label": "Image",
            "info": "1000 x 400px recommended"
          },
          {
            "type": "text",
            "id": "imgCTA_1_title",
            "label": "Heading",
            "default": "Image"
          },
          {
            "type": "textarea",
            "id": "imgCTA_1_text",
            "label": "Text"
          },
          {
            "type": "url",
            "id": "imgCTA_1_link",
            "label": "Link"
          },
          {
            "type": "text",
            "id": "imgCTA_1_button_label",
            "label": "Button label",
            "default": "View all"
          },
          {
            "type": "image_picker",
            "id": "imgCTA_2_image",
            "label": "Image",
            "info": "1000 x 400px recommended"
          },
          {
            "type": "text",
            "id": "imgCTA_2_title",
            "label": "Heading",
            "default": "Image"
          },
          {
            "type": "textarea",
            "id": "imgCTA_2_text",
            "label": "Text"
          },
          {
            "type": "url",
            "id": "imgCTA_2_link",
            "label": "Link"
          },
          {
            "type": "text",
            "id": "imgCTA_2_button_label",
            "label": "Button label",
            "default": "View all"
          }
        ]
      },
      {
        "type": "featColl",
        "name": "Featured Collection",
        "settings": [
          {
            "type": "text",
            "id": "ftc_title",
            "label": "Heading",
            "default": "Featured collection"
          },
          {
            "type": "collection",
            "id": "ftc_custompage_collection",
            "label": "Collection"
          },
          {
            "type": "select",
            "id": "ftc_custompage_products_per_row",
            "label": "Products per row",
            "default": "3",
            "options": [
              {
                "value": "2",
                "label": "2"
              },
              {
                "value": "3",
                "label": "3"
              },
              {
                "value": "4",
                "label": "4"
              }
            ]
          },
          {
            "type": "select",
            "id": "ftc_custompage_products_limit",
            "label": "Limit products",
            "default": "3",
            "options": [
              {
                "value": "3",
                "label": "3"
              },
              {
                "value": "4",
                "label": "4"
              },
              {
                "value": "6",
                "label": "6"
              },
              {
                "value": "8",
                "label": "8"
              },
              {
                "value": "9",
                "label": "9"
              },
              {
                "value": "12",
                "label": "12"
              }
            ]
          }
        ]
      },
      {
        "type": "featList",
        "name": "Featured List",
        "settings": [
          {
            "type": "image_picker",
            "id": "fl_1_image",
            "label": "Image #1",
            "info": "1600 x 600px recommended"
          },
          {
            "type": "text",
            "id": "fl_1_ovrly_txt",
            "label": "Overlay Text #1",
            "default": "Overlay Text #1"
          },
          {
            "type": "textarea",
            "id": "fl_1_content",
            "label": "Text"
          },
          {
            "type": "image_picker",
            "id": "fl_2_image",
            "label": "Image #2",
            "info": "1600 x 600px recommended"
          },
          {
            "type": "text",
            "id": "fl_2_ovrly_txt",
            "label": "Overlay Text #2",
            "default": "Overlay Text #2"
          },
          {
            "type": "textarea",
            "id": "fl_2_content",
            "label": "Text"
          },
          {
            "type": "image_picker",
            "id": "fl_3_image",
            "label": "Image #3",
            "info": "1600 x 600px recommended"
          },
          {
            "type": "text",
            "id": "fl_3_ovrly_txt",
            "label": "Overlay Text #3",
            "default": "Overlay Text #3"
          },
          {
            "type": "textarea",
            "id": "fl_3_content",
            "label": "Text"
          },
          {
            "type": "image_picker",
            "id": "fl_4_image",
            "label": "Image #4",
            "info": "1600 x 600px recommended"
          },
          {
            "type": "text",
            "id": "fl_4_ovrly_txt",
            "label": "Overlay Text #4",
            "default": "Overlay Text #4"
          },
          {
            "type": "textarea",
            "id": "fl_4_content",
            "label": "Text"
          },
          {
            "type": "image_picker",
            "id": "fl_5_image",
            "label": "Image #5",
            "info": "1600 x 600px recommended"
          },
          {
            "type": "text",
            "id": "fl_5_ovrly_txt",
            "label": "Overlay Text #5",
            "default": "Overlay Text #5"
          },
          {
            "type": "textarea",
            "id": "fl_5_content",
            "label": "Text"
          },
          {
            "type": "image_picker",
            "id": "fl_6_image",
            "label": "Image #6",
            "info": "1600 x 600px recommended"
          },
          {
            "type": "text",
            "id": "fl_6_ovrly_txt",
            "label": "Overlay Text #6",
            "default": "Overlay Text #6"
          },
          {
            "type": "textarea",
            "id": "fl_6_content",
            "label": "Text"
          },
          {
            "type": "image_picker",
            "id": "fl_7_image",
            "label": "Image #7",
            "info": "1600 x 600px recommended"
          },
          {
            "type": "text",
            "id": "fl_7_ovrly_txt",
            "label": "Overlay Text #7",
            "default": "Overlay Text #7"
          },
          {
            "type": "textarea",
            "id": "fl_7_content",
            "label": "Text"
          },
          {
            "type": "image_picker",
            "id": "fl_8_image",
            "label": "Image #8",
            "info": "1600 x 600px recommended"
          },
          {
            "type": "text",
            "id": "fl_8_ovrly_txt",
            "label": "Overlay Text #8",
            "default": "Overlay Text #8"
          },
          {
            "type": "textarea",
            "id": "fl_8_content",
            "label": "Text"
          },
          {
            "type": "image_picker",
            "id": "fl_9_image",
            "label": "Image #9",
            "info": "1600 x 600px recommended"
          },
          {
            "type": "text",
            "id": "fl_9_ovrly_txt",
            "label": "Overlay Text #9",
            "default": "Overlay Text #9"
          },
          {
            "type": "textarea",
            "id": "fl_9_content",
            "label": "Text"
          },
          {
            "type": "image_picker",
            "id": "fl_10_image",
            "label": "Image #10",
            "info": "1600 x 600px recommended"
          },
          {
            "type": "text",
            "id": "fl_10_ovrly_txt",
            "label": "Overlay Text #10",
            "default": "Overlay Text #10"
          },
          {
            "type": "textarea",
            "id": "fl_10_content",
            "label": "Text"
          },
          {
            "type": "image_picker",
            "id": "fl_11_image",
            "label": "Image #11",
            "info": "1600 x 600px recommended"
          },
          {
            "type": "text",
            "id": "fl_11_ovrly_txt",
            "label": "Overlay Text #11",
            "default": "Overlay Text #11"
          },
          {
            "type": "textarea",
            "id": "fl_11_content",
            "label": "Text"
          },
          {
            "type": "image_picker",
            "id": "fl_12_image",
            "label": "Image #12",
            "info": "1600 x 600px recommended"
          },
          {
            "type": "text",
            "id": "fl_12_ovrly_txt",
            "label": "Overlay Text #12",
            "default": "Overlay Text #12"
          },
          {
            "type": "textarea",
            "id": "fl_12_content",
            "label": "Text"
          }
        ]
      },
      {
        "type": "featProds",
        "name": "Featured Products",
        "settings": [
          {
            "type": "text",
            "id": "fps_title",
            "label": "Heading",
            "default": "Featured Products"
          },
          {
            "type": "text",
            "id": "fps_1_subtitle",
            "label": "Featured Product Title",
            "default": "Featured Products"
          },
          {
            "type": "product",
            "id": "fps_1_featured_product",
            "label": "Product"
          },
          {
            "type": "text",
            "id": "fps_2_subtitle",
            "label": "Featured Product Title",
            "default": "Featured Products"
          },
          {
            "type": "product",
            "id": "fps_2_featured_product",
            "label": "Product"
          }
        ]
      }








    ]
  }
{% endschema %}