<ul>
	<li><strong>Non-Slip</strong>&nbsp;- Anti-slip outsole increases traction</li>
	<li><strong>Cozy</strong>&nbsp;- Cushioned insole provides comfort and softens impact </li>
	<li><strong>Sweat Resistant</strong>&nbsp;- Neoprene construction resists water and sweat</li>
	<li><strong>Washable</strong>&nbsp;- Hand wash in cold water as needed</li>
	<li><strong>Secure</strong>&nbsp;- Reinforced toe thong and adju
	stable back strap keep shoe in place</li>
	<li><strong>Fashionable</strong> - Colors and styles to match any look</li>
	<li><strong>Convenient</strong>&nbsp;- Carry bag keeps shoes tidy on-the-go</li>
</ul>